.text-area {
    -fx-background-color: transparent;
}
.text-area .content {
    -fx-background-color: transparent;
}

.invisibleTextField {
    -fx-background-color: rgba(255,255,255,0);
    -fx-border-color: rgba(0,0,0,0);
}

.visibleTextField {
    -fx-background-color: rgba(255,255,255,1);
    -fx-border-color: rgba(0,0,0,1);
}

.deleteButton {
    -fx-focus-color : red;
    -fx-base : #f4b5a7;
}

.confirmButton {
    -fx-focus-color : green;
    -fx-base : #bee3c8;
}